<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Burn-in-report.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>17493EE620AE776000AB77BA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>17493EF920AE776000AB77BA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>17493F0420AE776000AB77BA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
